@{
    ViewData["Title"] = "Portafolio";
}

@using SystemTaimsalFrontEnd.Views.Briefcase.Components;
<section class="py-3">
    <h1 class="my-2 text-center">
        PORTAFOLIO <i class="bi bi-columns-gap"></i>
    </h1>

    <div class="container-fluid">
       <div class="row row-cols-1 row-cols-md-3 g-4">
           <component type="typeof(SystemTaimsalFrontEnd.Views.Briefcase.Components.GalleryBriefcase)" render-mode="ServerPrerendered" />
       </div>
    </div>
</section>