@{
    ViewData["Title"] = "Contacto";
}

<section>
    <div style="background-color:#D8D8D8; ">
        <p class="fs-2 fw-bold text-center pt-5">Ubicación</p>
        <img src="../Img/Maps-Taimsal.jpg" style="padding: 8% 0;" alt="" srcset="">

    </div>

</section>