@{
    ViewData["Title"] = "Home Page";
}

<img src="~/Img/Logo.png" class="img-fluid" alt="...">
<div style="background-color:#33313B;padding-top:3%;padding-bottom:3%;" class="text-white">
    <div class="text-center clearfix">
        <h1 class="display-4">RESUMEN DE ACTIVIDADES</h1>
    </div>
    <div class="container-fluid px-4 clearfix" style="padding-top:3%;">
        <div class="row gx-5">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
                </p>
                <div class="text-center">
                    <img src="~/ImgBlog/Img1.png" class="rounded img-fluid" alt="...">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto clearfix" style="padding-top:2%;">
                    <button type="button" class="btn btn-outline-light" id="button-addon1">Mas información</button>
                </div>
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
                </p>
                <div class="text-center">
                    <img src="~/ImgBlog/Img2.png" class="rounded img-fluid" alt="...">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto" style="padding-top:2%;">
                    <button type="button" class="btn btn-outline-light" id="button-addon1">Mas información</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-top:3%;padding-bottom:3%; background-color:#29E5FF">
    <div class="text-center clearfix" style="padding-bottom:3%;">
        <h1 class="display-6">Trabajos Realizados</h1>
    </div>
    <div class="container-fluid">
        <div class="carousel">
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <i class="bi bi-chevron-compact-left"></i>
                </button>
                <div class="carousel__lista">
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                    <div class="carousel__elemento">
                        <img src="~/Img/Image.jpg" alt="">
                        <p>Nombre</p>
                    </div>
                </div>
                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
            <div role="tablist" class="carousel__indicadores"></div>
        </div>
    </div>
</div>

<div style="padding-top:3%;padding-bottom:3%;">
    <div class="text-center clearfix" style="padding-bottom:3%;">
        <h1 class="display-6">Clientes de proveedores</h1>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
                <p class="text-center clearfix">Nombre</p>
            </div>
            <div class="col">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
                <p class="text-center clearfix">Nombre</p>
            </div>
            <div class="col">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
                <p class="text-center clearfix">Nombre</p>
            </div>
            <div class="col">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
                <p class="text-center clearfix">Nombre</p>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom:3%; padding-top:3%; background-color:#33313B;">
    <div class="container-fluid text-center clearfix text-white">
        <h1 class="display-6 text-white"><i class="bi bi-clock"></i>  Horarios</h1>
        <div class="container px-4" style="padding-top:2%;">
            <div class="row gx-5">
                <div class="col">
                    <p class="fs-4">LUNES A VIERNES</p>
                    <p class="fs-5">08:30 AM - 05:00 PM</p>
                </div>
                <div class="col">
                    <p class="fs-4">SABADOS</p>
                    <p class="fs-5">08:30 AM - 12:00 AM</p>
                </div>
            </div>
        </div>
    </div>
</div>