@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<img src="https://cdn.arturogarcia.com/wp-content/uploads/crear-logo.jpg" class="img-fluid" alt="...">

<div class="text-center clearfix" style="padding-top:3%;">
    <h1 class="display-4">RESUMEN DE ACTIVIDADES</h1>
</div>
<div class="container px-4 clearfix" style="padding-top:3%;">
    <div class="row gx-5">
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <div class="text-center">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="rounded img-fluid" alt="...">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto clearfix" style="padding-top:2%;">
                <button type="button" class="btn btn-outline-secondary" id="button-addon1">Mas información</button>
            </div>
        </div>
        <div class="col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <div class="text-center">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="rounded img-fluid" alt="...">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top:2%;">
                <button type="button" class="btn btn-outline-secondary" id="button-addon1">Mas información</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center clearfix" style="padding-top:5%;">
    <h1 class="display-6">Trabajos Realizados</h1>
</div>
<div class="contenedor">
    <div class="carousel">
        <div class="carousel__contenedor">
            <button aria-label="Anterior" class="carousel__anterior">
                <i class="bi bi-chevron-compact-left"></i>
            </button>
            <div class="carousel__lista">
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Empire State Building">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
            </div>
            <button aria-label="Siguiente" class="carousel__siguiente">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        <div role="tablist" class="carousel__indicadores" style="padding-bottom:3%;"></div>
    </div>
</div>
<div class="text-center clearfix" style="padding-top:5%;padding-bottom:3%;">
    <h1 class="display-6">Clientes de proveedores</h1>
</div>
@*
<div class="container">
    <div class="carousel">
        <div class="carousel__contenedor">
            <button aria-label="Anterior" class="carousel__anterior">
                <i class="bi bi-chevron-compact-left"></i>
            </button>
            <div class="carousel__lista">
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Empire State Building">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
                <div class="carousel__elemento">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" alt="Harmony Tower">
                    <p>Nombre</p>
                </div>
            </div>
            <button aria-label="Siguiente" class="carousel__siguiente">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        <div role="tablist" class="carousel__indicadores" style="padding-bottom:3%;"></div>
    </div>
</div>*@
<div class="container" style="padding-top:3%;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
            <p class="text-center clearfix">Nombre</p>
        </div>
        <div class="col">
            <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
            <p class="text-center clearfix">Nombre</p>
        </div>
        <div class="col">
            <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
            <p class="text-center clearfix">Nombre</p>
        </div>
        <div class="col text-center" style="padding-bottom:5%;">
            <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="img-fluid" width="400" height="200" />
            <p class="text-center clearfix">Nombre</p>
        </div>
    </div>
</div>
<div class="text-center clearfix text-white" style="padding-bottom:2%; padding-top:2%; background-color:#33313B;">
    <h1 class="display-6 text-white">Horarios</h1>
    <div class="container px-4" style="padding-top:2%;">
        <div class="row gx-5">
            <div class="col">
                <p>LUNES A VIERNES</p>
                <p>00:00 - 00:00</p>
            </div>
            <div class="col">
                <p>SABADOS Y DOMINGOS</p>
                <p>00:00 - 00:00</p>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
<script src="js/app.js"></script>
