@{
}
<link rel="stylesheet" href="../css/Taimsal-Acronym.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<section>

    <div class="conten">
        <ul>
            <h1>Siglas Taimsal</h1>
            <li>
                <a href="#" style="--clr:#39B5E0" data-text="&nbsp;Tolerancia">&nbsp;Tolerancia</a>
            </li>
            <li>
                <a href="#" style="--clr:#A31ACB" data-text="&nbsp;Apoyo">&nbsp;Apoyo</a>
            </li>
            <li>
                <a href="#" style="--clr:#FF78F0" data-text="&nbsp;Integridad">&nbsp;Integridad</a>
            </li>
            <li>
                <a href="#" style="--clr:#F5EA5A" data-text="&nbsp;Moral">&nbsp;Moral</a>
            </li>
            <li>
                <a href="#" style="--clr:#22A39F" data-text="&nbsp;Solidaridad">&nbsp;Solidaridad</a>
            </li>
            <li>
                <a href="#" style="--clr:#31E1F7" data-text="&nbsp;Autodisciplina">&nbsp;Autodisciplina</a>
            </li>
            <li>
                <a href="#" style="--clr:#AEA1EA" data-text="&nbsp;Lealtad">&nbsp;Lealtad</a>
            </li>
        </ul>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Bllue-White-Top.svg" alt="" srcset="" style="width: 100%;">

<section class="">
    <div class="py-5 text-center clearfix text-white" style="background-color:#00213b;">
        <h1 class="py-3 display-4 fw-bold">Nosotros</h1>
        <h2 class="fw-normal " style="padding-right:10%;padding-left:10%;">
            Somos una empresa líder en el área de metal mecánica Torno, fresadora con 20 años de experiencia en el ramo
            de la industria
        </h2>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Sky-Bllue-Top.svg" alt="" srcset="" style="width: 100%;">

<section>
    <div class="py-5" style="background-color:#29E5FF">
        <div class="col-12 text-center">
            <h1 class="py-4 display-4 fw-bold">Misión</h1>
            <h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">
                Ser una empresa reconocida a nivel nacional por su trayectoria, años de experiencia, calidad,
                eficacia y eficiencia en el ámbito industrial.
            </h3>
        </div>
    </div>
</section>

<img src="../img/Margin-Gradiant/Margin-Sky-BllueLight-Bottom.svg" alt="" style="width: 100%;" srcset="">

<section>
    <div style="background-color:#153a83; padding: 7% 0;">
        <div class="text-center clearfix text-white">
            <h1 class="display-4 fw-bold">Visión</h1>
            <h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">
                Cumplir con los estándares de calidad y servicio que exijan nuestros clientes en la industria.
            </h3>
        </div>
    </div>
</section>

@* <img src="../img/Margin-Gradiant/Margin-BllueLight-Gray-Bottom.svg" alt="" style="width: 100%;" srcset="">

<section>
<div style="background-color:#33313B; padding: 0 0 7% 0;">
<div class="text-center clearfix text-white" >
<h2 class="fs-2 fw-bold">Objetivos</h2>
<h3 class="fw-normal" style="padding-right:10%;padding-left:10%; padding-top:3%;">Lorem, ipsum dolor sit amet
consectetur adipisicing elit. Pariatur error, enim
odio
aspernatur
dignissimos fuga consectetur qui adipisci quidem numquam, corporis, aliquam ad. Optio aliquid
praesentium, tenetur architecto a nam!
</h3>
</div>
</div>
</section> *@

<img src="../img/Margin-Gradiant/Margin-Blue-Gray-Bottom.svg" style="width: 100%;" alt="" srcset="">

<section>
    <div style="background-color:#D8D8D8; ">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.95125856671!2d-89.36706812420474!3d13.721400797995198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6321ffdbe7ea81%3A0xd3d7606fa2578aa9!2sTAIMSAL%2C%20S.A.%20DE%20C.V.!5e0!3m2!1ses-419!2ssv!4v1714146676976!5m2!1ses-419!2ssv"
            width="1400" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>