
/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: black;
    opacity: 60%;
}

    .carousel__anterior:hover,
    .carousel__siguiente:hover {
        opacity: 100%;
    }

.carousel__anterior {
    left: -30px;
}

.carousel__siguiente {
    right: -30px;
}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #808080;
    opacity: .2;
    border-radius: 0;
}

    .carousel__indicadores .glider-dot:hover {
        opacity: .5;
    }

    .carousel__indicadores .glider-dot.active {
        opacity: 1;
    }

@media screen and (max-width: 800px) {
    body {
        padding: 20px 0;
    }

    .contenido-principal {
        flex-direction: column;
    }

        .contenido-principal > * {
            width: 100%;
        }
}
