
.conten {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  min-width: calc(90% - 10px);
  overflow-x: hidden;
  background-color: #fff;
}

section ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section ul li {
  position: relative;
  list-style: none;
}

section ul li a {
  position: relative;
  font-size: 4em;
  text-decoration: none;
  text-decoration-color: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(8,8,37,0.8);
}

section ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: #222831;
  width: 0;
  overflow: hidden;
  transition: 1.5s;
  border-right: 8px solid #222831;
}

section ul li a:hover::before{
  width: 100%;
  -webkit-text-stroke: 1px #222831;
}