@{
}

<div style="text-align:end">
    <p class="fs-2 text-success">Total: $00.00</p>
</div>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-2 border bg-light">
                <h4 class="text-center p-2">Detalles de Facturación</h4>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control" />
                    </div>              
                    <div class="col-md-6">
                        <label class="form-label">Apellido</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Fecha Entrega</label>
                        <input type="date" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">DUI</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 border bg-light">
                <h4 class="text-center p-2">Detalles de Facturación</h4>
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">País</label>
                        <select class="form-select">
                            <option selected>Seleccionar...</option>
                            <option>El salvador</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Estado / Provincia</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label class="form-label">Dirección</label>
                        <textarea class="form-control" placeholder="1234 Main St"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">ZIP / Código Postal</label>
                        <input type="text" class="form-control">
                    </div>

                    <h4 class="text-center p-3">Detalles de Tarjeta</h4>

                    <div class="col-md-6">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Nombre en la Tarjeta</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Número de Tarjeta</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Fecha de Expiración</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">CVC</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="padding-top:3%;"></div>
<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>Imagen <i class="bi bi-image"></i></th>
            <th>Descripcion <i class="bi bi-card-text"></i></th>
            <th>Cantidad <i class="bi bi-sort-numeric-up-alt"></i></th>
            <th>Precio <i class="bi bi-currency-dollar"></i></th>
            <th>Codigo <i class="bi bi-123"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>
                <img class="rounded-circle" src="~/Img/Image.jpg" alt="" height="75px" width="75px" />
            </td>
            <td>Nombre</td>
            <td>0</td>
            <td>$ 00.00</td>
            <td>0000</td>
            <td>
                <button class="btn btn-danger" type="button"><i class="bi bi-trash3"></i></button>
            </td>
        </tr>
    </tbody>
    <tbody class="text-center">
        <tr>
            <td>
                <img class="rounded-circle" src="~/Img/Image.jpg" alt="" height="75px" width="75px" />
            </td>
            <td>Nombre</td>
            <td>0</td>
            <td>$ 00.00</td>
            <td>0000</td>
            <td>
                <button class="btn btn-danger" type="button"><i class="bi bi-trash3"></i></button>
            </td>
        </tr>
    </tbody>
    <tbody class="text-center">
        <tr>
            <td>
                <img class="rounded-circle" src="~/Img/Image.jpg" alt="" height="75px" width="75px" />
            </td>
            <td>Nombre</td>
            <td> 0</td>
            <td>$ 00.00</td>
            <td>0000</td>
            <td>
                <button class="btn btn-danger" type="button"><i class="bi bi-trash3"></i></button>
            </td>
        </tr>
    </tbody>
</table>


