@{
}
<div class="text-center clearfix" style="padding-top:3%; padding-bottom:3%;">
    <h1 class="display-4">Nosotros</h1>
</div>
<div class="clearfix" style="padding-right:10%;padding-left:10%;">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
        quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
        eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
        quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
        eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
    </p>
</div>
<div class="container px-4 clearfix" style="padding-top:3%; padding-bottom:5%; background-color:skyblue">
    <div class="row gx-5">
        <div class="col">
            <div class="text-center clearfix" style="padding-top:3%; padding-bottom:3%;">
                <p class="fs-2">Misión</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <div class="text-center">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="rounded img-fluid" alt="...">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto clearfix" style="padding-top:2%;">
                <button type="button" class="btn btn-outline-secondary" id="button-addon1">Mas información</button>
            </div>
        </div>
        <div class="col">
            <div class="text-center clearfix" style="padding-top:3%; padding-bottom:3%;">
                <p class="fs-2">Visión</p>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <div class="text-center">
                <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="rounded img-fluid" alt="...">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top:2%;">
                <button type="button" class="btn btn-outline-secondary" id="button-addon1">Mas información</button>
            </div>
        </div>
    </div>
</div>
<div style="background-color:#33313B">
    <div class="text-center clearfix text-white" style="padding-top:3%; padding-bottom:3%;">
        <p class="fs-2">Objetivos</p>
        <div class="clearfix" style="padding-right:10%;padding-left:10%; padding-top:3%;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
            </p>
        </div>
    </div>
</div>

<div class="text-center clearfix" style="padding-top:3%;">
    <p class="fs-2">Ubicación</p>
</div>
<div style="background-color:grey; padding-top:25%; padding-bottom:25%">
</div>