@{
}

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, a rchitecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, architecto
                    quas voluptatibus quaerat autem maiores voluptates, amet repellat sit delectus
                    eaque vitae saepe aliquid deleniti ab molestiae incidunt? Earum, culpa!
                </p>
                <div class="text-center">
                    <img src="https://assets.new.siemens.com/siemens/assets/api/uuid:ceaeda0d0e5234906e374fe54f2dd60aebb59b1f/width:640/quality:high/placeholder.jpg" class="rounded img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>