<section class="py-3">
    <h1 class="my-2 text-center">
        Maquinas <i class="bi bi-columns-gap"></i>
    </h1>

<div class="row   p-4">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
<div class="col-md-6 col-sm-12">
    <div class="card">
      <img src="/img/Taimsal.svg.jpeg" class="card-img-top" alt="TORNO">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Los tornos industriales actualmente se utilizan en las industrias de metalmecánica para la mecanización de piezas metálicas. La utilización de distintos tipos de tornos industriales dependen de la cantidad de piezas a mecanizar por serie, de la complejidad de las piezas y de la envergadura de las piezas..</p>
      </div>
    </div>
  </div>
</div>